<?xml version="1.0" encoding="utf-8"?>
<!--
このファイルは、Web プロジェクトの発行/パッケージ処理で使用されます。この MSBuild ファイルを編集することによって、
この処理の動作をカスタマイズできます。詳細については、http://go.microsoft.com/fwlink/?LinkID=208121 を参照してください。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://shunsaka-githubdemo-staging.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-kw1-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>shunsaka-GitHubDemo__staging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$shunsaka-GitHubDemo__staging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pyvowplxk1.database.windows.net,1433;Initial Catalog=shunsaka-GitHubDemo_db;User ID=shunsaka@pyvowplxk1;Password=Sedemopass1!" Name="Data Source=tcp:pyvowplxk1.database.windows.net,1433;Initial Catalog=shunsaka-GitHubDemo_db;User Id=shunsaka@pyvowplxk1;Password=Sedemopass1!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AzureGitHubDemo.Models.ApplicationDbContext, AzureGitHubDemo" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pyvowplxk1.database.windows.net,1433;Initial Catalog=shunsaka-GitHubDemo_db;User Id=shunsaka@pyvowplxk1;Password=Sedemopass1!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>